* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* outline: 2px dashed #ff00c8;
    background-color: rgb(112, 16, 91); */
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFF5D1;
}



/* ################## */
/* ##### HEADER ##### */
/* ################## */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #F2BA52;
    border-bottom: 1px solid #D98D62;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1050px; /* Maximum width for the layout */
    width: 100%; /* Makes the container flexible within the max-width */
    margin: 0 auto; /* Centers the container horizontally */

    /* outline: 2px dashed #ff00c8;
    background-color: rgb(112, 16, 91); */
}

.logo img {
    height: 50px;
    width: auto;
}

.navigation {
    display: flex;
    align-items: flex-end;
    padding: 5px;
}

.text-buttons a { /* fixes link anchors changing how element is displayed */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make anchor behave like a block */
}

.text-buttons button,
.image-buttons button {
    background: none;
    border: none;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
    padding: 1px 5px;
    transition: background-color 0.3s;
}

.text-buttons button:hover {
    background-color: #e0e0e0;
    border-radius: 4px;
}

.image-buttons {
    display: flex; /* Align buttons horizontally */
    align-items: center; /* Vertically align content */
    gap: 0px; /* Optional: Add spacing between the buttons */
}

.image-buttons button {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.image-buttons button img {
    opacity: .5;
    transition: opacity 0.3s; /* Smooth transition */
    width: 30px;
    height: 30px;
}

.image-buttons button:hover img {
    opacity: 0.8;
}